<div class="container">
  <mat-card class="card">
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com">
        <!-- <mat-error>
          Email is <strong>required</strong>
        </mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input type="password" matInput>
        <mat-icon>favorite</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <p>Esqueceu senha</p>
    </div>
    <div>
      <button mat-raised-button color="primary">Entrar</button>
    </div>
  </mat-card>
</div>
